@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor

<div class="d-flex">
  <MudNavLink Href="scene" Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Scene</MudNavLink>
</div>
