@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor

<div class="d-flex">
  <MudNavLink Href="sceneexplorer" Match="@NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Explorer</MudNavLink>
</div>
